

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;

}



.hambuger{
    border: none;
    background-color: transparent;
    position: absolute;
    right: 3%;
    top: 3%;
    transform: translate(-3%,-3%);
    outline: none;
    z-index: 10;
    color: white;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    transform: translate(0);
    
}
.hambuger-toggle{
    transform: translate(120%);
    visibility: hidden;
}

.hambuger i{
    font-size: 1.5rem;
}

nav{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 10;
}


.nav_toggle{
    transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transform: translate(-100%);
}
.nav-toggle1{
    transform: translate(0);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;

}


/*nav transition stops here*/


.logo{
    /* width: 100%; */
    padding-top: 2.5rem ;
    margin-bottom: 2rem;
}

.logo h1{
    padding-left: 1rem;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 0.2rem ;
}
.logo span{
    color: #009FFD;
}

.nav_item{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
}


.nav_item a{
    display: block;
    width: 98%;
    padding-left: 1.5rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem ;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    transition: transform 300ms ease-in;
    -webkit-transition: transform 300ms ease-in;
    -moz-transition: transform 300ms ease-in;
    -ms-transition: transform 300ms ease-in;
}


.nav_item li{
    width: 100%;
    list-style: none;
    transition: background-image 300ms ease-in;
    -webkit-transition: background-image 300ms ease-in;
    -moz-transition: background-image 300ms ease-in;
    -ms-transition: background-image 300ms ease-in;
}


.nav_item li:hover{
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(255, 255, 255, 0.3));
}


.nav_item a:hover{
    transform: translateX(10px);
}

.social-contact{
    width: 35%;
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%, -15%);
    display: flex;
    justify-content: space-evenly;
    padding: auto;
    font-size: 1.5rem;
    align-items: center;
}

.social-contact i{
    color: #009FFD;
    transition: transform 400ms ease-in;
    -webkit-transition: transform 400ms ease-in;
    -moz-transition: transform 400ms ease-in;
    -o-transition: transform 400ms ease-in;
}

.social-contact i:hover{
    transform: scale(1.5);
}

.close-nav{
    position: absolute;
    top: 8%;
    right: 3%;
    transform: translate(-5%,-3%);
    background-color: transparent;
    border: transparent;
    outline: transparent;
    

}

.close-nav i{
    color: white;
    font-size: 1.5rem;
    transition: all 200ms ease-in;
    -webkit-transition: -webkit-transform 500ms ease-in;
    -moz-transition: -moz-transform 500ms ease-in;
    -o-transition: -o-transform 500ms ease-in;
}

.close-nav i:hover{
    transform: rotate(1080deg);
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
}

.landing-container{
    position: relative;
    height: 100vh;
    

}
.video-container{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
   
}
.video-container video{ 
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.video-container:after{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

nav{
    position: absolute;
}

@media screen and (min-width: 768px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    nav{
        width: 40%;
        background-color: rgba(0, 0, 0, 0.6);
        
    }
}
