$margin-bottom--big: 5rem;
$margin-bottom--medium: 3rem;
$margin-bottom--xsmall: 1rem;

$letter-spacing--small: 1.2px;
$letter-spacing--medium: 3.5px;

$border-width--big: 2px;

$border-radius--big: 1rem;

$horizontal-gutter: 3rem;
$horizontal-gutter-big: 6rem;

$primary-color-light: white;
$primary-color-dark: black;
$secondary-color: orange;

