
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.hero{
    background: url(./beauty1.jpg) no-repeat center; 
  background-size: cover;
  height: 100vh;
  position: relative;
}

.banner{
    position: absolute;
    background-color: white;
    width: 45%;
    min-width: 500px;
    text-align: center;
    height: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.banner h1{
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 3rem;
}
.banner .btn{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0.3rem 1em;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgb(104, 38, 165);
    color: white;
    outline: none;
    transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
    backface-visibility: visible;

}

.banner .btn:hover{
    
    transform: translateY(-1px);

}
.banner .btn:active{
    color:black; 
    background-color: white;
    border: 1px solid black;
    transform: translateY(1px);
}


.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 183, 236, 0.2);
    visibility: hidden;
    z-index: -10;
    display: grid;
    place-items: center;
    transition: visibility 300ms ease-in-out,z-index 10000ms ease-in;
    -webkit-transition: visibility 300ms ease-in-out;
    -o-transition: visibility 300ms ease-in-out;
    -moz-transition: visibility 300ms ease-in-out;
}
.modal-container--active{
    visibility: visible;
    z-index: 10;
}

.modal-container{
    position: relative;
    width: 50%;
    min-width: 450px;
    background-color: white;
    height: 35%;
    border-radius: 10px;
    /* display: flex;
    align-items: center;
    justify-content: center; */

}
.modal-container h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: capitalize;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.5rem;

}

.cross{
    background: inherit;
    /* background-color: blue; */
    border: none;
    font-size: 1.5rem;
    position: absolute;
    top: 10%;
    right: 6%;
    transform: translate(-50%,-50%);
    outline: none;

} 


.cross__line{
    display: block;
    width: 15px;
    height: 2px;
    background-color: black;

}

.cross__line:first-child{
    transform: rotate(45deg) translate(5px);
}
.cross__line:last-child{
    margin-top: 5px;
    transform: rotate(-45deg) translate(5px);
}

.cross__hover:hover{
    transform: translateY(-1px)

}

.cross__hover:active{
    transform: translateY(1px);

}

