
//Grid
$Grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 5rem;

//colors
$color-grey-light-1: #f7f7f7;
$primary-blue: #0000FF; // BTN
$navy-blue: #000C66; //
$baby-blue: #7EC8E3; // BODY
$dark-blue: #050A30; // TEXT

//FONT 
$default-size: 1.6rem;