
.btn{
    &:link,
    &:visited{
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: white;
        /* color: black; */
        font-size: 1.2rem;
        letter-spacing: .15rem;
        padding: 0.4rem 1.7rem;
        border-radius: .2rem;
        background-color: rgba(255, 255, 255, 0.781);
        background-color: rgb(149, 149, 247);
        
        /* background-color: rgb(22, 22, 22); */
        backface-visibility: hidden;
        animation: moveInBottom 1s ease-out;
        animation-fill-mode: backwards;
        transition: transform 80ms ease-out;
    
    }

    &:hover{
        transform: translateY(-0.3rem);
        box-shadow: 0 0.5rem 0.5rem rgba(1, 0, 0, 0.3);
        /* background-color: ; */

        &::before{
            transform: scale(1.2, 1.4);
            opacity: 0;
        }
    
    }

    &:active{
        transform: translateY(-0.1rem);
    }

    &::before{
        content: "";
        display: inline-block; 
        width: 100%;
        height: 100%;
        border-radius: .2rem;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.781);
        top: 0;
        left: 0;
        z-index: -1;
        /* transform: scale(2); */
        
        transition: transform 200ms ease-out, opacity 200ms ease-out;

        
    }

    
}

.btn-text{
    color: rgb(149, 149, 247);
    display: inline-block;
    padding-bottom: .5rem;
    text-decoration: none;
    border-bottom: 1px solid rgb(149, 149, 247);
    &:hover{
        color: white;
        background-color: rgb(149, 149, 247);
        transform: translateY(-2px);
        box-shadow: 0 .5rem 1rem rgba(149, 149, 247, .5);
    }
    &:active{
        box-shadow: .5rem .5rem 1rem rgba(149, 149, 247, .8);
        transform: translateY(-1px);
        
    }
}