:root{
    /* color */
    --primary-color1: #fae9e9;
    --primary-color2: rgb(26, 25, 25);
    --overlay: rgb(0, 0, 0, .5);
    --primary-color3: #58cef5;

    /* structure */

    /* FONT */
    --font-size: 1.6rem;
    --font-size-md: 3.5rem;
    --font-size-bg: 4rem;
    --font-size-xbg: 6rem;

    /* general font style */
    --title-weight: 700;
    --letter-spacing-sm: .15rem;
    --letter-spacing-md: .2rem;
    --letter-spacing-bg: .3rem;

    /* measurement */
    --title-min-width: 60rem;
    --btn-link-padding: .6rem .5rem; 
    --header-hight-1: 90px;
    --header-height-2: 350px; 


    /* animation */
    --transition: all 300ms ease-out;
    --btn-transition: all 100ms ease-out;
    --btn-border: 2px solid var(--primary-color1);
}


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 50%;
    scroll-behavior: smooth;

}
ul{
    list-style: none;
} 
a{
    text-decoration: none;
}
img{
    display: block;
}

h1{
    font-size: var(--font-size-xbg);
}

/* general */

body{
    box-sizing: border-box;
    line-height: 1.5;
    /* padding: 0 10px; */
    font-family: sans-serif;
    position: relative;
}


.fixedscroll{
    width: 45px;
    height: 45px;
    background-color: rgba(2, 38, 61, 0.61);
    position: fixed;
    bottom: 8%;
    right: 5%;
    -webkit-animation: scaler infinite ease 1s;
    animation: scaler infinite ease 1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    display: none;
    opacity: 0;
    transition: var(--transition);

}

.fixedscroll.active{
    display: block;
    opacity: 1;
}
.fixedscroll a:link,
.fixedscroll a:visited{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: .5rem;
    border-radius: 50px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.4);
}

.fixedscroll a i{
    font-size: 4rem;
}


@keyframes scaler{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

header{
    width: 100%;
    /* overflow: hidden; */
    background-image: linear-gradient(to left, rgba(2, 38, 61, 0.61), rgba(2, 38, 61, 0.61)), url(./pictures/hero-bcg.jpeg);
    /* background-image: url(./pictures/hero-bcg.jpeg); */
    background-position: center;
    background-size: cover;
    position: relative;

}
.header{
    width: 100%;
    height: 9rem;
    overflow: hidden;
    padding: 0 1.5rem;
    transition: all 300ms ease-out;
    transition: var(--transition);

}
.header__logo--container{
    padding-top: 1rem;
    margin-bottom: 2em;
}

.toggle{
    background-color: var(--primary-color2);
    height: 35rem;

}
.sticky{
    width: 100%;
    position: fixed;
    background-color: var(--primary-color2);
    transition: all 300ms ease-out;
    z-index: 99;
}

.navigation{
    width: 50%;
    margin: 0 auto; /* will affect justify-content when i flex its parent*/
    /* background-color: orangered; */
}



.navigation__list{
    list-style: none;
    font-size: 2rem;
    text-align: center;
    
}

.navigation__link:link,
.navigation__link:visited{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 1rem 1rem;
    color: var(--primary-color1);
    background-color: transparent;
    text-transform: capitalize;
    background-image: linear-gradient(125deg , transparent 50%, var(--primary-color1) 50%);
    background-size: 250%;
    letter-spacing: var(--letter-spacing-bg);
    transition: var(--transition);
    border-radius: 2px;
}

.navigation__link:hover{
    color: black;
    background-position: 100%;

}
.navigation__link:active{
    color: var(--primary-color1);
}

/* ham burger */
.ham{
    position: absolute;
    top: 12px;
    right: 30px;
    width: 25px;
    height: 40px;
    min-height: 40px;
    background-color: inherit;
    border: none;
}

.line {
    width: 100%;
    height: 3px;
    background-color: var(--primary-color3);
    margin-top: 20%;
}
.ham:focus{
    outline: none;
}
.ham:active .line{
    background-color: var(--primary-color3);
}


.hero{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 10px;

}

.hero__text{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-size: var(--font-size);
    color: var(--primary-color1);
    letter-spacing: var(--letter-spacing-sm);
    font-weight: 500;
    text-align: center;

}
.hero__text--title{
    font-size: var(--font-size-bg);
    font-weight: var(--title-weight);
    width: 100%;
    line-height: 1.2;
    text-transform: uppercase;
}

.hero__text--description{
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;

}

.hero__link:link,
.hero__link:visited{
    display: inline-block;
    width: 20%;
    min-width: 200px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    padding: var(--btn-link-padding);
    text-align: center;
    background-color: transparent;
    border: var(--btn-border);
    color: var(--primary-color1);
    transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    backface-visibility: hidden;
}

.hero__link:hover{
    background-color: var(--primary-color1);
    color: var(--primary-color2);
    transform: translateY(-2px);
}

.hero__link:active{
    transform: translateY(-1px);
}

/* main */

.section{
    text-align: center;
    padding-top: 2rem;
    /* border-radius: 1rem; */
    width: 100%;
    height: 100vh; 
}
.section__title{
    font-size: var(--font-size-md);
    letter-spacing: var(--letter-spacing-md);
    text-transform: capitalize;
    font-weight: var(--title-weight);
}
.section__title>:last-child{
    color: var(--primary-color3);
}
#about{
    background-color: var(--primary-color1);
    text-align: center;
}
#tours{
    background-color: var(--primary-color1);
}

.section:last-child p{
    width: 80%;
    letter-spacing: var(--letter-spacing-sm);
}

.footer{
    height: 30vh;
    font-size: var(--font-size);
    background-color: rgb(16, 16, 58);
    color: var(--primary-color1);
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width:37.5em){
    html{ 
        font-size: 62.5%;
    }
    
    
}

@media screen and (min-width:59.25em){

    .toggle{
        /* background-color: transparent; */
        height: 0;

    }
    
    html{ 
        font-size: 62.5%;
    }
    .ham{
        display: none;
        visibility: hidden;
    }
    .header{
        height: 8rem;
        display: flex;
        justify-content: space-between !important; 
    }


    .toggle{
        height: 8rem;
    }


    .navigation{
        width: 40%;
        margin: 0 1rem ;     

    }

    .navigation__list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        margin-top: 2.5rem;

    }

    .navigation__link:link,
    .navigation__link:visited{
        padding: .5rem 1rem;
        font-size: 1.8rem;
        letter-spacing: var(--letter-spacing-md);
    }

}