
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
}

html{
    font-size: 100%;
}

body{
    background-color: rosybrown;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 400;
    padding: 1.5rem;
    line-height: 1.7;
}

.navigation{
    position: absolute;
    display: none;
}

.header{
    height: 90vh;
    background-image: linear-gradient(to left bottom , rgba(94, 0, 0, 0.262), rgba(1, 0, 0, 0.707)),url(./images/skincare.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
}

#header__logo-container{
    width: 8rem;
    height: 8rem;
    position: absolute;
    top: 15%;
    left: 10%;
    transform: translate(-50%,-50%);
}
#header__logo-container::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: rgba(1, 0, 0, 0.3); */

}
#header__logo{
    width: 100%;
    height: auto;
}

.header__hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgba(255, 255, 255, 0.884);
}


.header__title{
    text-transform: uppercase;
}

.title__main{
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 2rem;
    white-space: nowrap;
    position: relative;
    font-style: italic;

    /* animation: colorin 2s ease-out; */
}

/* .title__main::before{
    content: "";
    display: inline-block;
    width: 4rem;
    height: 0.2rem;
    background-color: rgba(255, 0, 0, 0.712);
    position: absolute;
    top: 15%;
    left: 4%;
} */

.title__main::after{
    content: "";
    display: inline-block;
    width: 0.4rem;
    height: 4rem;
    background-color: rgba(255, 0, 0, 0.712);
    position: absolute;
    top: 20%;
    left: 35%;
}

@keyframes colorin {
    0% {
        /* transform: translateX(-10%); */

        color: transparent;
        opacity: 0.1;
    }

    50%{
        color: black;
        opacity: 0.5;
    }

    100%{
        color: inherit;
    }
}

.title__sub{
    display: block;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.5rem;
    white-space: nowrap;
    margin-bottom: 2rem;

}

.header__discreption{
    text-transform: capitalize;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
    margin-bottom: 2rem;
}

.btn:link,
.btn:visited{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: rgba(94, 94, 94);
    font-size: 1.5rem;
    padding: 0.2rem 1.7rem;
    border-radius: 5rem;
    background-color: rgba(255, 255, 255, 0.781);
    backface-visibility: hidden;

    transition: transform 80ms ease-out;
    
}

.btn:hover{
    transform: translateY(-0.3rem);
    box-shadow: 0 0.5rem 0.5rem rgba(1, 0, 0, 0.3);

}

.btn:active{
    transform: translateY(-0.1rem);
}


.btn::before{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.781);
    top: 0;
    left: 0;
    z-index: -1;
    /* transform: scale(2); */
    
    transition: transform 200ms ease-out, opacity 200ms ease-out;
}

.btn:hover::before{
    transform: scale(1.5);
    opacity: 0;
}


@media screen and (max-width:680px){
    html{
        font-size: 60.5%;
    }
}