
body{
    font-family: "lato", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7;
    padding: 3rem;
} 

.menu{
    &__header--title{
        font-size: 3rem;
        font-weight: 700;
        text-transform: capitalize;
        letter-spacing: $letter-spacing--medium;
    }

    
}

.btn{
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: $letter-spacing--small;
}