
body{
    
    font-family: sans-serif;
    font-weight: 400;
    padding: 1.5rem;
    line-height: 1.7;
}

.header{
    &__title{
        text-transform: uppercase;

        &--main{
            display: block;
            font-size: 4rem;
            font-weight: 400;
            letter-spacing: 1.5rem;
            white-space: nowrap;
            position: relative;
            font-style: italic;
            animation: moveInLeft 1s ease-out;
            // animation-fill-mode: backwards;
            backface-visibility: hidden;
        
            /* animation: colorin 2s ease-out; */

            /*&::before{
                content: "";
                display: inline-block;
                width: 4rem;
                height: 0.2rem;
                background-color: rgba(255, 0, 0, 0.712);
                position: absolute;
                top: 15%;
                left: 4%;
            } */

            &::after{
                content: "";
                display: inline-block;
                width: 0.4rem;
                height: 4rem;
                background-color: rgba(255, 0, 0, 0.712);
                position: absolute;
                top: 20%;
                left: 35%;    
            }
        }

        &--sub{
            display: block;
            font-size: 1.4rem;
            font-weight: 300;
            letter-spacing: 0.3rem;
            white-space: nowrap;
            margin-bottom: 2rem;
            animation: moveInRight 1s ease-out;

        
        }
    }

    &__discreption{
        text-transform: capitalize;
        font-size: 1rem;
        letter-spacing: 0.05rem;
        word-spacing: 0.2rem;
        margin-bottom: 2rem;
    }
    
}
.heading-secondary{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    // background-image: linear-gradient(180deg , rgba(),rgba(),rgba());
    // background-clip: text;
    transition: all 150ms ease-out;
    backface-visibility: hidden;


    &:hover{
        transform: skew(5deg, 3deg) scale(1.1);
        text-shadow: .5rem 1rem 1rem rgba(0,0,0,.2);
    }

}
.heading-tetiary{
    text-transform: uppercase;
    font-weight: 600;
}
.paragraph{
    font-weight: 400;
    margin-bottom: 2rem;
}

