*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: initial; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.clearfix::after {
  content: '';
  display: table;
  clear: both; }

body {
  font-family: "lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem; }

.menu__header--title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 3.5px; }

.btn {
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 1.2px; }

.btn {
  height: 30px;
  padding: 0 1rem;
  color: black;
  background-color: white;
  border: 2px solid orange;
  border-radius: 5px;
  box-shadow: 0 0 0 0;
  transition: all .2s ease-out; }
  .btn:not(:last-child) {
    margin-right: 1rem; }
  .btn:hover {
    background-color: orange;
    color: white; }

.menu__container {
  width: 100%; }

.menu__header {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5rem; }
  .menu__header--title {
    position: relative;
    letter-spacing: 3.5px; }
  .menu__header--underline {
    width: 7rem;
    height: .3rem;
    background-color: orange;
    margin: 0 auto;
    border-radius: 2rem;
    margin-bottom: 3rem; }

.item__image {
  width: 100%;
  box-shadow: 0 0 5px #161616; }
  .item__image--content {
    max-width: 100%; }

@media screen and (max-width: 425px) {
  .item {
    margin-bottom: 5rem; }
    .item__image {
      width: 100%;
      border: 2px solid orange;
      border-radius: 1rem; }
      .item__image--content {
        max-width: 100%; }
    .item__name__price {
      width: 100%;
      padding: 1rem; }
      .item__name__price::after {
        content: '';
        display: table;
        clear: both; }
    .item__name {
      width: 70%;
      float: left; }
    .item__price {
      width: 30%;
      float: left;
      text-align: right;
      color: orange; } }

@media screen and (min-width: 426px) {
  .col-1-0f-2 {
    width: calc((100% - 3rem)/2);
    float: left; }
    .col-1-0f-2:not(:last-child) {
      margin-right: 3rem; }
  .item {
    width: 100%;
    margin-bottom: 5rem; }
    .item::after, .item::before {
      content: " ";
      display: table; }
    .item::after {
      clear: both; }
    .item__name__price {
      width: 100%;
      padding: 1rem; }
      .item__name__price::after {
        content: '';
        display: table;
        clear: both; }
    .item__name {
      width: 70%;
      float: left; }
    .item__price {
      width: 30%;
      float: left;
      text-align: right;
      color: orange; }
  .description {
    margin-top: 5rem; } }
