
*, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: hsl(205, 100%, 96%);
    color: hsl(209, 61%, 16%);
}

h4{
    font-size: large;
    font-weight: bold;
    text-transform: capitalize;

}


/* whole menu for small screen begins */
.menu-container{
    margin-top: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* title begins */
.title{
    font-size: larger;
    font-style: oblique;
    font-weight: bolder;
    letter-spacing: 2px;
    text-transform: capitalize;

}
/* title ends */

/* underline start */
.line{
    width: 4rem;
    height: 0.2rem;
    background-color: #c59d5f;
    margin: auto;
    margin-top: 0.2rem;
}
/* underline ends */

/* menu navigation starts */
nav{
    width: 50%;
    max-width: 384px;
    min-width: 384px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.5rem;
}
.btn{
    padding: 0.7em 0.7em;
    text-transform: capitalize;
    letter-spacing: 0.2rem ;
    background-color: transparent;
    border: 2px solid #222;
    color: #222;
    border-radius: 0.3rem;
    transition: background-color 500ms  100ms ease-in-out,
    color 500ms  100ms ease-in-out, transform 500ms ease-in-out ;
    -moz-transition: background-color 500ms  100ms ease-in-out,
    color 500ms  100ms ease-in-out;
    -o-transition: background-color 500ms  100ms ease-in-out,
    color 500ms  100ms ease-in-out ;
}

.btn:hover{
    outline: none;
    background-color: #222;
    color: #fff;
    transform: scale(0.95);
    transform: translate(3px);
}

/* menu navigation ends */

/*  */

/* menu items starts */


.menu-items{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item{
    flex-basis: 90%; 
    margin-bottom: 3rem;

}

.item-image{
    width: 100%;
}

.item-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    border: 1px solid #c59d5f;
    box-shadow: 0 0 5px;
}


.item-NPD{
    margin-top: 2rem;
    width: 100%;
}

.item-NPD header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0px;
    border-bottom: 2px solid hsl(209, 61%, 16%);
}

.item-NPD h4{
    font-size: 1.5rem;
}
.item-NPD h4:nth-child(2){
    color: #c59d5f;
}

.discreption{
    text-transform: capitalize;
    color: #222;
    line-height: 1.5rem;
    font-weight: 300;
    font-size: 1.2rem;
    width: 80%;
    text-align: left;
    padding-top: 2rem;

}


/* menu items end */

/*  */

/* whole menu for small screen ends */


@media screen and (min-width:750px){

    .item{
        flex-basis: 80%;
        display: flex;
        justify-content: space-around;
    }

    .item-image{
        flex-basis: 50%;
    }

    .item-NPD{
        flex-basis: 45%;
    }

    .item-NPD header{
        width: 100%;
    }
}

@media screen and (min-width: 1200px){

    .item{
        margin-right: 1rem;
        flex-basis: 45%;
    }

    .menu-items{
        display:flex;
        justify-content: center;
        align-content: space-around;
    }


}